<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--在移动端按比例缩放-->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;">

    <!--<script type='text/javascript' src='__PUBLIC__/js/jquery-1.11.3.js' charset='utf-8'></script>
    <script>var Zepto = jQuery</script>-->
    <link rel="stylesheet" href="../Public/css/swiper.min.css">
    <link rel="stylesheet" href="../Public/css/index.css">
    <script src="../Public/js/jquery-1.11.3.js"></script>
    <script type="text/javascript">
        $.ajax({url: "../Controller/TempController.php",
            type: "post",
            data: {func: "getDisplay"},
            dataType: "text",
            async: true,
            success:function(res){
                $("body").prepend(res);
            }
        });

        function test(){
            return $.ajax({url: "../Controller/TempController.php",
                type: "post",
                data: {func: "getDisplay"},
                dataType: "text",
                async: true,
                success:function(res){
                    return res;
                    //$("body").prepend(res);
                }
            });
        }

        function ajaxFunction(data) {
            this.data = data;
            this.result = null;
            this.action = function () {
                $.ajax({url: "../Controller/TempController.php",
                    type: "post",
                    data: {func: "getDisplay"},
                    dataType: "text",
                    async: true,
                    success:function(res){
                        this.result = res;
                    }
                });
            };
            return this;
        }

        var ajax = new ajaxFunction({a:"a",b:function () {

        }});

        ajax.action();
        var result = ajax.result;

        alert(test());

        var aaa = {
            j:"aaa",
            b:function () {
                alert("");
            }
        };

        function aaa(c) {
            this.aaa = "";
            this.b = function () {
                alert("");
                c();
            };
            return this;
        }

        var a = new aaa(function () {
            alert("");
        });
        a.aaa;
        a.b();


    </script>
    <script src="../Public/js/swiper.jquery.min.js"></script>
    <title>懐璞集</title>
</head>
<style>

</style>
<body>
<style>
    .parent{
        box-sizing: border-box;
        width: 100%;
        padding: 0 -15px;
        margin: 15vh;
    }
    .item{
        margin: 0 15px;
    }
</style>

<div class="parent">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>
<!--背景图片-->
<main>
    <div class="swiper-pagination1 space-point"></div>
    <div class="swiper-container1" style="height: 100%;z-index: -1;">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-bg">
                <img src="../Public/images/bg1.png">
            </div>
            <div class="swiper-slide slide-bg">
                <img src="../Public/images/bg2.png">
            </div>
            <div class="swiper-slide slide-bg">
                <img src="../Public/images/bg3.png">
            </div>
            <div class="swiper-slide slide-bg">
                <img src="../Public/images/bg4.png">
            </div>
            <div class="swiper-slide slide-bg">
                <img src="../Public/images/bg5.png">
            </div>
            <div class="swiper-slide slide-bg">
                <img src="../Public/images/bg6.png">
            </div>
        </div>
    </div>
</main>
<!--客服页面-->
<!--<div style="background: #404041;position: absolute;top:0;left:0;width: 100%;height:100%;z-index: 23;">
    <div style="margin-top: 7px;margin-left: 5px;margin-right: 5px;background: rgba(214,214,216,0.7);padding: 20px;">
        如果你对懐璞集产品有任何疑问，请记下您的疑问，点击下方按钮跳转至公众号页面进行客服问答。<br/>
        或者拨打我们的客服电话：<br/>
        400-120-2333<br/>
        如果你不是我们公众号的
    </div>
    <button>button</button>
</div>-->
<!--底部菜单-->
<div class="bottom-menu">
    <ul>
        <li class="index"><div><img src="../Public/icons/home.png" alt="">首页</div></li>
        <li class="btn-display"><div><img src="../Public/icons/ripe.png" alt="">陈列架</div></li>
        <li><div><img src="../Public/icons/service.png" alt="">客服</div></li>
        <li><div><img src="../Public/icons/user.png" alt="">个人</div></li>
    </ul>
</div>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript" src="../Public/js/issac.js"></script>
<!--陈列架二级菜单-->
<script>
    function getDisTip(ty){
        $.ajax({url: "../Controller/TempController.php",
            type: "post",
            data: {
                func: "getDisTip",
                ty: ty
            },
            dataType: "text",
            async: true,
            success:function(res){
                if(res ==1){
                    window.location.href="http://www.baidu.com";
                }else {
                    $("body").prepend(res);
                    $(".disBtn-close").on("click", function () {
                        modelOutT(".block-disTip", "-30px");
                    });
                }
            }
        });
    }
    var disNum =0;
    $(".block-display li").click(function(){
        var ty =$(this).attr("data-ty");
        loadshow();
        if(window.disNum ==0){
            getDisTip(ty);
        }
        window.disNum++;
        setTimeout(function(){
            modelInT(".block-disTip", "0");
            loadhide();
        },1000);
    });

</script>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container',{
        pagination : '.swiper-pagination',
        loop: true
    });

    var mySwiper1 = new Swiper('.swiper-container1',{
        pagination : '.swiper-pagination1',
        loop: true
    });

    function displayShow(){
        $(".item-point").removeClass("trans");
        modelInB(".menu-child", "100px");
        $(".menu-child").attr("data-order","on");
    }

    function displayhide(){
        $(".item-point").addClass("trans");
        modelOutB(".menu-child", "80px");
        $(".menu-child").attr("data-order","off");
    }

    $(".btn-display").click(function(){
        var val =$(".menu-child").attr("data-order");
        if(val =="off"){
            displayShow();
        }else {
            displayhide();
        }

    });
    $(".btn-interest").click(function(){
        var id =$(this).attr("data-id");
        window.location.href="viewII.html?id="+id;
    });
</script>
</body>
</html>